@font-face {
	font-family: "Mulish", sans-serif;
	src: local("/build/fonts/Mulish-Light"),
	url("/build/fonts/Mulish-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Mulish", sans-serif;
	src: local("/build/fonts/Mulish-Regular"),
	url("/build/fonts/Mulish-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Mulish", sans-serif;
	src: local("/build/fonts/Mulish-Medium"),
	url("/build/fonts/Mulish-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Mulish", sans-serif;
	src: local("/build/fonts/Mulish-SemiBold"),
	url("/build/fonts/Mulish-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Mulish", sans-serif;
	src: local("/build/fonts/Mulish-Bold"),
	url("/build/fonts/Mulish-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Mulish", sans-serif;
	src: local("/build/fonts/Mulish-ExtraBold"),
	url("/build/fonts/Mulish-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Mulish", sans-serif;
	src: local("/build/fonts/Mulish-Black"),
	url("/build/fonts/Mulish-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope", sans-serif;
	src: url("/build/fonts/Manrope-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Manrope", sans-serif;
	src: url("/build/fonts/Manrope-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Manrope", sans-serif;
	src: url("/build/fonts/Manrope-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway", sans-serif;
	src: local("/build/fonts/Raleway-Light"),
	url("/build/fonts/Raleway-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Raleway", sans-serif;
	src: local("/build/fonts/Raleway-Regular"),
	url("/build/fonts/Raleway-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Raleway", sans-serif;
	src: local("/build/fonts/Raleway-Medium"),
	url("/build/fonts/Raleway-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Raleway", sans-serif;
	src: local("/build/fonts/Raleway-SemiBold"),
	url("/build/fonts/Raleway-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Raleway", sans-serif;
	src: local("/build/fonts/Raleway-Bold"),
	url("/build/fonts/Raleway-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}