.pre-footer {
	& .t-bar-element ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
.footer-logo {
	& img {
		min-width: 100%;
		width: 100%;
	}
}
@media (min-width: 575.98px) {
	.footer-logo {
		& img {
			min-height: 36px;
			max-height: 52px;
		}
	}
}
@media (min-width: 576px) and (min-width: 767.98px) {
	.footer-logo {
		& img {
			min-height: 42px;
			height: 42px;
		}
	}
}
@media (min-width: 768px) and (min-width: 991.98px) {
	.footer-logo {
		& img {
			min-height: 42px;
			height: 42px;
		}
	}
}
@media (min-width: 992px) and (min-width: 1199.98px) {
	.footer-logo {
		& img {
			min-height: 58px;
			height: 58px;
		}
	}
}
@media (min-width: 1200px) {
	.footer-logo {
		& img {
			min-height: 69px;
			height: 69px;
		}
	}
}
footer {
	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
