.header {
	z-index: 2;
	position: relative;
	min-width: 320px;
	width: 100%;

	&:not(.header--index) {
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02),
					0 15px 30px rgba(0, 0, 0, 0.05);
		background-color: var(--white-color);
	}
	&--index {
		background-color: transparent;
	}
}
@media (max-width: 991.98px) {
	.header {
		&__container {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
}

.navbar {
	padding-right: 0;
	padding-left: 0;

	& .navbar-brand {
		display: inline-flex;
		margin: 0;
		padding: 0;
		font-size: 0;
	}
	& .navbar-brand svg {
		fill: var(--blue-color);
		stroke: var(--blue-color);
	}
	& .navbar-brand .icon {
		min-width: 30px;
		width: 30px;
		min-height: 40px;
		height: 40px;
	}
	& .navbar-collapse {
		justify-content: center;
	}
	& .nav-item a {
		display: block;
	}
	& .nav-item a,
	& .lang-switcher-link {
		color: var(--main-text-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 1;
	}
	& .nav-link,
	& .lang-switcher-link {
		display: flex;
		justify-content: flex-end;
	}
	& .dropdown-toggle::after {
		border: 0;
	}
	& .dropdown-menu {
		min-width: 0;
		margin: 0;
		border: 0;
		border-radius: 0;
		background-color: transparent;
		color: var(--main-text-color);
		font-size: inherit;
	}
	& .dropdown-item,
	& .lang-switcher-dropdown-menu a {
		display: block;
		color: var(--main-text-color);
	}
	& .dropdown-item:hover,
	& .lang-switcher-dropdown-menu a:hover {
		background-color: var(--lightgray-color);
		color: var(--blue-color);
	}
	& .lang-switcher {
		position: relative;
		min-width: 55px;
		width: 55px;
		padding-bottom: 20px;
		margin-bottom: -20px;
	}
	& .lang-switcher-link {
		position: relative;
		padding-right: 20px;
	}
	& .lang-switcher-link::before,
	& .lang-switcher-link::after {
		content: "";
		position: absolute;
		top: 50%;
		width: 6px;
		height: 1px;
		border-radius: 1px;
		background-color: var(--main-text-color);
		transition: 0.15s ease-in-out;
	}
	& .lang-switcher-link::before {
		right: 7px;
		transform: rotate(45deg);
	}
	& .lang-switcher-link::after {
		right: 3px;
		transform: rotate(-45deg);
	}
	& .lang-switcher.show .lang-switcher-link::before {
		transform: rotate(-45deg);
	}
	& .lang-switcher.show .lang-switcher-link::after {
		transform: rotate(45deg);
	}
	& .lang-switcher-dropdown-menu {
		z-index: 9;
		position: absolute;
		top: 100%;
		right: 0;
		margin: 0;
		padding: 10px 0;
		list-style: none;
		background-color: var(--white-color);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02),
					0 15px 30px rgba(0, 0, 0, 0.15);
	}
	& .lang-switcher-dropdown-menu a {
		padding: 10px 20px;
		background-color: var(--white-color);
	}
	& .lang-switcher:not(.show) .lang-switcher-dropdown-menu {
		visibility: hidden;
		opacity: 0;
		user-select: none;
	}
}
@media (max-width: 767.98px) {
	.navbar {
		& .navbar-brand .icon-text {
			display: none;
		}
	}
}
@media (max-width: 991.98px) {
	.navbar {
		padding-top: 12px;
		padding-bottom: 12px;

		& .navbar-brand {
			order: 1;
			margin-right: auto;
		}
		& .navbar-toggler {
			order: 3;
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 48px;
			width: 48px;
			min-height: 48px;
			height: 48px;
			padding: 12px;
			border: 0;
			border-radius: 0;
			background-color: rgba(6, 65, 106, 0.05);
			font-size: 0;
		}
		& .navbar-toggler-icon {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		& .navbar-toggler-icon,
		& .navbar-toggler-icon::before,
		& .navbar-toggler-icon::after {
			min-width: 100%;
			width: 100%;
			min-height: 2px;
			height: 2px;
			background-color: var(--blue-color);
			transition: 0.15s ease-in-out;
		}
		& .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
			background-color: transparent;
		}
		& .navbar-toggler-icon::before,
		& .navbar-toggler-icon::after {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			transition: 0.15s ease-in-out;
		}
		& .navbar-toggler-icon::before {
			top: -7px;
		}
		& .navbar-toggler-icon::after {
			top: 7px;
		}
		& .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon::before,
		& .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon::after {
			top: 0;
		}
		& .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon::before {
			transform: rotate(45deg);
		}
		& .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon::after {
			transform: rotate(-45deg);
		}
		& .navbar-collapse {
			order: 4;
			min-width: calc(100vw - 40px);
			width: calc(100vw - 40px);
		}
		& .navbar-nav {
			display: block;
			min-height: calc(100vh - 72px);
			height: calc(100vh - 72px);
			padding-top: 32px;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		& .nav-item {
			margin-bottom: 40px;
		}
		& .nav-item .nav-link {
			display: inline-block;
			font-size: 28px;
			text-decoration: underline;
			text-underline-offset: 4px;
		}
		& .nav-link {
			padding: 0;
		}
		& .dropdown-toggle,
		& .dropdown-item {
			white-space: normal;
		}
		& .dropdown-toggle::after {
			content: none;
		}
		& .dropdown-menu {
			display: block;
		}
		& .dropdown-menu,
		& .dropdown-item {
			padding: 0;
		}
		& .dropdown-menu {
			padding-top: 30px;
		}
		& .dropdown-item {
			font-size: 20px;
		}
		& .dropdown-item:not(:last-of-type) {
			margin-bottom: 20px;
		}
		& .lang-switcher {
			order: 2;
			margin-right: 30px;
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar {
		& .navbar-nav {
			column-gap: 36px;
		}
		& .nav-item {
			min-width: 250px;
			width: 250px;
		}
		& .nav-item:nth-child(2) {
			margin-bottom: 235px;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.navbar {
		& .navbar-nav {
			column-count: 2;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar {
		& .navbar-brand {
			align-items: center;
		}
		& .navbar-brand .icon-text {
			min-width: 300px;
			width: 300px;
			min-height: 22px;
			height: 22px;
		}
		& .navbar-nav {
			column-gap: 48px;
		}
		& .nav-item {
			min-width: 340px;
			width: 340px;
		}
		& .nav-item:nth-child(2) {
			margin-bottom: 235px;
		}
	}
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0;
	}
	.navbar {
		padding-top: 25px;
		padding-bottom: 25px;

		& .navbar-brand .icon-text {
			display: none;
		}
		& .nav-item {
			position: relative;
			padding-bottom: 20px;
			margin-bottom: -20px;
		}
		& .nav-item:not(:last-of-type) {
			margin-right: 20px;
		}
		& .nav-item.dropdown .dropdown-toggle {
			position: relative;
			padding-right: 20px;
		}
		& .nav-item.dropdown .dropdown-toggle::before,
		& .nav-item.dropdown .dropdown-toggle::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 6px;
			height: 1px;
			border-radius: 1px;
			background-color: var(--main-text-color);
			transition: 0.15s ease-in-out;
		}
		& .nav-item.dropdown .dropdown-toggle::before {
			right: 7px;
			transform: rotate(45deg);
		}
		& .nav-item.dropdown .dropdown-toggle::after {
			right: 3px;
			transform: rotate(-45deg);
		}
		& .nav-item.dropdown.show .dropdown-toggle::before {
			transform: rotate(-45deg);
		}
		& .nav-item.dropdown.show .dropdown-toggle::after {
			transform: rotate(45deg);
		}
		& .dropdown-menu {
			padding: 10px 0;
			box-shadow: 0 4px 6px rgb(0 0 0 / 2%),
						0 15px 30px rgb(0 0 0 / 15%);
			background-color: var(--white-color);
		}
		& .dropdown-item {
			padding: 10px 20px;
			background-color: var(--white-color);
		}
	}
	.header:not(.header--index) .navbar .dropdown-menu {
		background-color: var(--white-color);
	}
}
